# Hugo default output directory
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json

# Hugo cache
.hugo_build.lock

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# Temporary files
*.tmp
*.temp 