{{ define "main" }}
<section class="hero">
  <h1>Get in Touch</h1>
  <img src="{{ "images/contact-hero.jpg" | relURL }}" alt="Laptop & coffee" style="margin-top:2rem;max-width:100%;border-radius:12px">
</section>
<div class="container">
  <p>Email me at <a href="mailto:hello@radreads.co">hello@radreads.co</a>.</p>
  <h2>Find me on the web</h2>
  <ul>
    <li><a href="https://www.linkedin.com/in/khehy/"      target="_blank">LinkedIn</a></li>
    <li><a href="https://twitter.com/khemaridh"            target="_blank">X / Twitter</a></li>
    <li><a href="http://instagram.com/radreadsco"          target="_blank">Instagram</a></li>
    <li><a href="http://bit.ly/RRYouTube_"                 target="_blank">YouTube</a></li>
    <li><a href="https://www.tiktok.com/@radreadsco"       target="_blank">TikTok</a></li>
  </ul>
</div>
{{ end }} 